<a href="https://colab.research.google.com/github/Samuel-Njoroge/Python-data-structures/blob/main/Python_data_structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python Data Structures.**
Data structures are “containers” that organize and group data according to type. The data structures differ based on mutability and order.

A) The inbuilt Python Data Structures include :
1. List
2. Set
3. Tuples
4. Dictionary.

B) User-defined Data Structures
1. Stack
2. Tree
3. Graph
4. Linked List
5. Graphs
6. Hashmap

# ***1. List***
Store data of different data types in a sequential manner.

In [ ]:
#Creating a list
#List of days
week_days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
week_days

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

In [ ]:
#Accessing items in a list
first_day = week_days[0]
print(first_day)

#Negative Indexing
#Last item in the list
last_day = week_days[-1] 
print(last_day)

Monday
Sunday

In [ ]:
#List Slicing
#First three days of the week
first_three_days = week_days[:3]
print(first_three_days)


#Last three days of the week
last_three_days = week_days[4:]
print(last_three_days)

['Monday', 'Tuesday', 'Wednesday']
['Friday', 'Saturday', 'Sunday']

In [ ]:
#Subsetting list
#First three days of the week
three_middle_days = week_days[2:5]
print(three_middle_days)

#During subsetting, the last index is read as (-1)

['Wednesday', 'Thursday', 'Friday']

In [ ]:
#Lists are mutable (can be reassigned)
colors = ['blue', 'red', 'green', 'white']
colors = ['yellow', 'pink', 'black', 'orange']
print(colors)

['yellow', 'pink', 'black', 'orange']

In [ ]:
#  deleting a List
del()

In [ ]:
#Multidimensional lists
animals = [['human', 'dog', 'cat'],
['lizard', 'snakes', 'crocodile'],
['sparrow', 'eagle', 'craw']]
print(animals)

[['human', 'dog', 'cat'], ['lizard', 'snakes', 'crocodile'], ['sparrow', 'eagle', 'craw']]

In [ ]:
#List commprehensions
#A way of creating list using for loops

even = [2*i for  i in range(1,11)]
print(even)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
#Length
len(animals)

3

In [ ]:
#sorting lists
colors = ['blue', 'red', 'green', 'white']

sorted(colors)

['blue', 'green', 'red', 'white']

In [ ]:
num = [1,2,3,4,5]
print(sum(num))
print(max(num))
print(min(num))

15
5
1

In [ ]:
#Built- in functions
#Adding a item to the list
#append()
num = [1,2,3,4,5]
num.append(6)
print(num)

[1, 2, 3, 4, 5, 6]

In [ ]:
#insert()
num = [1,2,3,4,5]
num.insert(5,6) #(insert 6 at index 5 )
print(num)

[1, 2, 3, 4, 5, 6]

In [ ]:
#remove
num = [1,2,3,4,5]
num.remove(5)
print(num)

[1, 2, 3, 4]

In [ ]:
#pop
#Removes an element
num = [1,2,3,4,5]
num.pop(4)
print(num)

[1, 2, 3, 4]

In [ ]:
#Arranging items in a list in an order
#sort
num = [3,5,6,3,4,5]
num.sort()
print(num)

[3, 3, 4, 5, 5, 6]

In [ ]:
#reverse
num = [1,2,3,4,5]
num.reverse
print(num)

[1, 2, 3, 4, 5]

In [ ]:
#List Comprehension
full_name = []
name = 'Samuel Njoroge'
for i in full_name:
  name.append(i)
print(name)

Samuel Njoroge

In [ ]:
import numpy as np
number_list = []
number = range(10)

for i in number:
  number_list.append(number)
print(number_list)

[range(0, 10), range(0, 10), range(0, 10), range(0, 10), range(0, 10), range(0, 10), range(0, 10), range(0, 10), range(0, 10), range(0, 10)]

*Lambda Expressions.*

*The array Module*

Array is a collection of type of values,

In [ ]:
my_array = ['Sam', 'Njoroge']
print(my_array)

['Sam', 'Njoroge']

In [ ]:
#array.append()
#Appends an item to the array
my_array = ['Sam', 'Njoroge',]
my_array.append('K')
print(my_array)

['Sam', 'Njoroge', 'K']

In [ ]:
#array.buffer_info() - Returns tupple of address in memory and length of elements in buffer
my_array = ['Sam', 'Njoroge']
print(my_array)

# ***2. Tuples***

Immutable.
Contains different types of items

In [ ]:
my_tupple = (1, 2, 3, 4, 5)
print(my_tupple)

(1, 2, 3, 4, 5)

*List vs Tuple *

A list is a collection of values that may be different 

List 
1. Mutable (Items can be changed/ reassigned)
2. Homogenous
3. Dynamic
4. Slower
5. Can't be used as dictionary keys

A  tuple is immutable and a collection of items that may be different.

1. Immutable (Items cannot be changed)
2. Heterogenous
3. Fixed size
4. Faster
5. Can be used as dictionary keys

*Slicing*

In [4]:
#Slicing in lists
list= [1,2,3,4,5,6,7,8,9,10]
list[1:5]

[2, 3, 4, 5]

In [5]:
#Slicing in tuples
t = (1,2,3,4,5)
t[slice(2,4)]

(3, 4)

In [9]:
#Binary Sequences
msg = 'Hello world'
arr = bytes(msg, 'utf-8')
bytes(7)

b'\x00\x00\x00\x00\x00\x00\x00'

# *3. Dictionaries.*

Holds key-value pairs

Separates the keys from the values with a colon (:) 'name': 'sam'

In [16]:
cars = {
    'ferrari': 'Italy',
    'BMW': 'Germany',
    'Jaguar': 'Britain',
    'Subaru': 'Japan'
    }
print(cars['Subaru'])
print(len(cars))
print(sorted(cars))

Japan
4
['BMW', 'Jaguar', 'Subaru', 'ferrari']

In [17]:
cars.keys()

dict_keys(['ferrari', 'BMW', 'Jaguar', 'Subaru'])

In [18]:
cars.items()

dict_items([('ferrari', 'Italy'), ('BMW', 'Germany'), ('Jaguar', 'Britain'), ('Subaru', 'Japan')])

In [19]:
cars.get(3,0)

0

In [20]:
cars1 = cars.copy()
print(cars1)

{'ferrari': 'Italy', 'BMW': 'Germany', 'Jaguar': 'Britain', 'Subaru': 'Japan'}

In [21]:
cars.pop('ferrari')
print(cars)

{'BMW': 'Germany', 'Jaguar': 'Britain', 'Subaru': 'Japan'}

In [22]:

cars.update(cars1)
print(cars1)

{'ferrari': 'Italy', 'BMW': 'Germany', 'Jaguar': 'Britain', 'Subaru': 'Japan'}

# *4. Sets*

A collection of unique values and don't support indexing.

Mutable , Can't delete using index

In [23]:
#Updating sets
days = {'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'}

In [24]:
len(days)

5

In [25]:
max(days)

'Wednesday'

In [26]:
min(days)

'Friday'

In [ ]:
sum()

In [30]:
#Returns if even one item in the set has a True value
any( )